ul {
    padding: 0 !important;
    margin: 0;
  }
  
  li {
    list-style: none;
  }
  
  a {
    text-decoration: none !important;
  }
 #header{
    padding: 150px 0 50px 0;
 }  
 .custom-swiper .slide-content img {
     /* position: absolute; */
    width: 100%;
    height: 400px; /* O'zingizga mos keladigan balandlikni tanlang */
    position: relative;
    object-fit: cover; /* Rasmni mos ravishda kesish */
    border-radius: 15px;
  }
  /* swiper right and left */
.swiper-button-next::after,
.swiper-button-prev::after {
    padding: 10px 15px;
    border-radius: 50%; 
    background-color: #FFFFFF; 
    font-size: 18px; 
    color: #BCBCBC; 
    backdrop-filter: blur(50px);
    box-shadow: 0px 4px 10px 0px #0000000D;
}
#header .custom-swiper .text-container {
  position: absolute;
  z-index: 9999;
  top: 10%;
  left: 5%;
}
#header .custom-swiper .text-container h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 55px;
    color: #1A1A1A;
    padding: 0 10px 20px 10px;
}
#header .custom-swiper .text-container h2 span{
  color: #FFFFFF;
  border-radius: 10px;
  padding: 8px 10px;
}
#header .custom-swiper .text-container p{
  font-family: sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: #1a1a1a;
  /* padding: 30px 0; */
}
#header .custom-swiper .text-container a{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 18px;
    border: none;
    background: linear-gradient(96.96deg, #FD17A1 3.55%, #A11FCE 133.18%);
    border-radius: 40px;
    padding: 15px 25px;
    color: #FFFFFF;
}







/* Media */
@media screen and (max-width: 1200px) {
  #header{
    padding: 130px 0 40px 0;
 }  
 .custom-swiper .slide-content img {
    width: 100%;
    height: 400px; /* O'zingizga mos keladigan balandlikni tanlang */
    border-radius: 10px;
  }
  /* swiper right and left */
.swiper-button-next::after,
.swiper-button-prev::after {
    padding: 10px 15px;
    font-size: 18px; 
}
#header .custom-swiper .text-container {
  top: 10%;
  left: 5%;
}
#header .custom-swiper .text-container h2{
    font-size: 50px;
    padding: 0 8px 20px 8px;
}
#header .custom-swiper .text-container h2 span{
  border-radius: 10px;
  padding: 5px 8px;
}
#header .custom-swiper .text-container p{
  font-size: 16px;
}
#header .custom-swiper .text-container a{
    font-size: 16px;
    border-radius: 40px;
    padding: 10px 20px;
}



}
@media screen and (max-width: 992px) {
  #header{
    padding: 110px 0 30px 0;
 }  
 .custom-swiper .slide-content img {
    width: 100%;
    height: 300px; /* O'zingizga mos keladigan balandlikni tanlang */
    border-radius: 8px;
  }
  /* swiper right and left */
.swiper-button-next::after,
.swiper-button-prev::after {
    padding: 7px 12px;
    font-size: 15px; 
}
#header .custom-swiper .text-container {
  top: 8%;
  left: 6%;
}
#header .custom-swiper .text-container h2{
    font-size: 40px;
    padding: 0 8px 20px 8px;
}
#header .custom-swiper .text-container h2 span{
  border-radius: 7px;
  padding: 3px 8px;
}
#header .custom-swiper .text-container p{
  font-size: 14px;
}
#header .custom-swiper .text-container a{
    font-size: 14px;
    padding: 8px 17px;
}

}
@media screen and (max-width: 768px) {
  #header{
    padding: 90px 0 20px 0;
 }  
 .custom-swiper .slide-content img {
    /* width: 100%; */
    height: 250px; /* O'zingizga mos keladigan balandlikni tanlang */
    border-radius: 5px;
  }
  /* swiper right and left */
.swiper-button-next::after,
.swiper-button-prev::after {
    padding: 7px 10px;
    font-size: 12px; 
}
 #header .custom-swiper .text-container {
  top: 7%;
  left: 9%;
} 
#header .custom-swiper .text-container h2{
    font-size: 20px;
    padding: 0 0 8px 0 ;
}
#header .custom-swiper .text-container h2 span{
  border-radius: 5px;
  padding: 1px 5px;
}
#header .custom-swiper .text-container p{
  font-size: 12px;
  word-wrap: break-word;
  width: 150px;
}
#header .custom-swiper .text-container a{
  position: relative;
  top: 50px;
    font-size: 13px;
    padding: 5px 12px;
}

}
@media screen and (max-width: 576px) {
  #header{
    padding: 70px 0 50px 0;
 }  
 .custom-swiper .slide-content img {
    /* width: 100%; */
    border-radius: 5px;
    height: 170px; /* O'zingizga mos keladigan balandlikni tanlang */
  }
  /* swiper right and left */
.swiper-button-next::after,
.swiper-button-prev::after {
    padding: 6px 8px;
    font-size: 10px; 
}
 #header .custom-swiper .text-container {
  top: 7%;
  left: 8%;
} 
#header .custom-swiper .text-container h2{
    font-size: 16px;
    padding: 0 ;
}
#header .custom-swiper .text-container h2 span{
  border-radius: 3px;
  padding: 1px 3px;
}
#header .custom-swiper .text-container p{
  font-size: 11px;
  width: 120px;
  margin: 0;
}
#header .custom-swiper .text-container a{
  top: 25px;
    font-size: 10px;
    padding: 3px 10px;
}

}
@media screen and (max-width: 320px) {
  #header{
    padding: 50px 0 20px 0;
 }  
 .custom-swiper .slide-content img {
    /* width: 100%; */
    border-radius: 5px;
    height: 110px; /* O'zingizga mos keladigan balandlikni tanlang */
  }
  /* swiper right and left */
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}
 #header .custom-swiper .text-container {
  top: 7%;
  left: 7%;
} 
#header .custom-swiper .text-container h2{
    font-size: 13px;
    padding: 0 ;
}
#header .custom-swiper .text-container p{
  font-size: 8px;
  width: 100px;
  margin: 0;
}
#header .custom-swiper .text-container a{
  top: 8px;
    font-size: 8px;
    padding: 2px 5px;
}
}