* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Oldingi kodda ".navbar-top" ishlatilgan edi, uni "nav-top" deb to‘g‘rilash kerak */
#navbar .nav-top {
    background-color: #290C4F;
    padding: 10px 0; 
}
#navbar .nav-top .left ul li a {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 15px;
    padding-right: 30px;
    color: white; /* Matn oq rangda bo‘lishi uchun */
}
#navbar .nav-top .left a:hover,
#navbar .nav-top .right a:hover{
    color: #E026EE;
    transition: 0.3s;
}
#navbar .nav-top .right a{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 15px;
    padding-left: 20px;
    color:#FFFFFF;
}
#navbar .nav-top .right .social-icons{
    padding-left: 10px;
}
#navbar .nav-top .right span{
    padding-left: 5px;
}
#navbar .nav-top .right a .youtube{
    font-size: 25px;
}
#navbar .nav-top .right a .telegram{
    font-size: 20px;
}
@media screen and (max-width: 1200px) {
    #navbar .nav-top {
        padding: 5px 0; 
    }
}
@media screen and (max-width: 992px) {
    #navbar .nav-top {
        padding: 5px 0; 
    }
    #navbar .nav-top .left ul li a {
        font-size: 13px;
        padding-right: 25px;
    }
    #navbar .nav-top .right a{
        font-size: 14px;
        padding-left: 15px;
    }
    #navbar .nav-top .right .social-icons{
        padding-left: 5px;
    }
    #navbar .nav-top .right a .youtube{
        font-size: 20px;
    }
    #navbar .nav-top .right a .telegram{
        font-size: 15px;
    }
}
@media screen and (max-width: 768px) {
    #navbar  {
        display: none;
    }

}
@media screen and (max-width: 576px) {
}
@media screen and (max-width: 320px) {}